<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Complete your business profile</title>
  <link rel="stylesheet" type="text/css" href="dashboard/business-dashboard.css" />
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type= "text/javascript" src = "countries.js"></script>
  <script type= "text/javascript" src = "admin-dashboard.js"></script>
  <link rel='icon' href='favicon.png' type='image/x-icon'/>
</head>
<body>
    <nav class="menu" tabindex="0" id="navbar" style="width:100ox">
        <div class="smartphone-menu-trigger"></div>
        <header class="avatar">
          <img src="restaurant.jpg" />
          <h2><%= user %></h2>
        </header>
        <ul id="selectable">
          <li tabindex="0" class="ui-widget-content selectable-li">Manage Users</li>
          <li tabindex="0" class="ui-widget-content selectable-li">Add Users</li>
          <li tabindex="4" class="ui-widget-content selectable-li">
            <a class="a-selectable" href="/logout">Logout</a>
          </li>
          <li tabindex="5" class="ui-widget-content selectable-li icon-settings ">
            <span class="selectable-span">
              Theme <input type="color" value="#ff0000" id="colorWell" />
            </span>
          </li>
          </ul>
      </nav>
<form action="/" method="post">

  <h2 class="title-center">Users</h2>
  <input type="search" id="search_user" onkeyup="search_users()" placeholder="Search users"/>
  <ul id="user_list" class="user_list">
    <% for(let i = 0; i < userList.length; i++) { %>
        <li><a href="/user/<%= userList[i].id %>" ><%= userList[i].name %></a></li>
    <% } %>
  </ul>
</form>

<script>
  let ul = $('ul.user_list');
let count = userList.length; 
for(let i = 0; i < count; i++) {
  ul.append('<li><a href="#">' + userList[i].name + '</a></li>');
}
</script>
</body>
</html>