<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Complete your business profile</title>
  <link rel="stylesheet" type="text/css" href="dashboard/user-dashboard.css" />
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <script type= "text/javascript" src = "countries.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <link rel='icon' href='favicon.png' type='image/x-icon'/>
</head>
<body>

  <nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
      <h2 class="user-name"><%= user %></h2>
    </header>
    <ul>
      <li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
      <li tabindex="0" class="icon-customers"><span>Customers</span></li>
      <li tabindex="0" class="icon-users"><span>Users</span></li>
      <li tabindex="0" class="icon-settings"><span>Settings</span></li>
      <li tabindex="0" class="icon-settings"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
<form action="/business-dashboard" method="post">

  <h2 class="title-center">Complete your business profile</h2>

  <fieldset>
    <legend><span class="number">1</span>Basic Info</legend>
    <label for="add1">Address Line 1:</label>
    <input type="text" id="add1" name="add1" required>

    <label for="add2">Address Line 2(optional):</label>
    <input type="text" id="add2" name="add2" title="Apt #">
      
    <label for="city">City:</label>
    <input type="text" id="city" name="city" required>
    </select>

    <label for="country">Country:</label>
    <select name="country" id="country" required>
    </select>
    <script language="javascript">
        populateCountries("country", "state");
    </script>

  <label for="state">State:</label>
  <select  name="state" id="state" required>
  </select>
        
  <label for="postalCode">Postal Code:</label>
  <input type="text" id="postalCode" name="postalCode" pattern="^[0-9]{5}(?:-[0-9]{4})?$" required title="Postal code should conatin only numbers of length 5" >
    
  </fieldset>

  <fieldset>
      <legend><span class="number">2</span>Business Info</legend>

    <label for="about">Categories:</label>
    <input type="checkbox" name="Mexican" value="Mexican" required>Mexican<br>
    <input type="checkbox" name="Indian" value="Indian">Indian <br>
    <input type="checkbox" name="Italian" value="Italian"> Italian<br>
    <input type="checkbox" name="Chinese" value="Chinese"> Chinese<br>
    <input type="checkbox" name="Others" value="Others"> Others

    <br><br><label for="about">Open days:</label>
    <input type="checkbox" name="Monday" value="Monday" required>Monday<br>
    <input type="checkbox" name="Tuesday" value="Tuesday">Tuesday <br>
    <input type="checkbox" name="Wednesday" value="Wednesday"> Wednesday<br>
    <input type="checkbox" name="Thursday" value="Thursday"> Thursday<br>
    <input type="checkbox" name="Friday" value="Friday"> Friday<br>
    <input type="checkbox" name="Saturday" value="Saturday"> Saturday<br>
    <input type="checkbox" name="Sunday" value="Sunday"> Sunday<br>

    <br><label for="about">About:</label>
      <textarea id="about" name="about" rows="4" cols="50" maxlength=200  placeholder="Maximum of 200 characters"  required></textarea>
  
    </fieldset>
 
  <button type="submit">Save</button>
</form>

</body>
</html>