<html>
  <head>
    <link rel="stylesheet" href="index.css" />
    <link rel='icon' href='favicon.png' type='image/x-icon'/ >
  </head>
  <body onload="init()">
    <div class="logo"><img src="favicon.png" width="120" height="100" ; /></div>
    <div class="login-page">
      <canvas id="messageCanvas" width="360" height="50"
        >Your browser does not support the HTML5 canvas tag.</canvas
      >
      <div class="form">
        <form class="login-form" id="login_form" action="/login" method="post">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="username"
            required
          />
          <div class="error" id="email_error"></div>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password"
            required
          />
          <div class="error" id="password_error"></div>
          <input
            type="checkbox"
            onclick="togglePassword()"
            style="margin-top:10px;margin-bottom:20px; margin-right:0px;margin-left:-135px;padding:0px; width:20px"
          />Show Password

          <button onclick="login()">login</button>

          <div class="error"><%= message %></div>
          <p class="message">
            Not registered? <a href="/register">Create an account</a>
          </p>
        </form>
      </div>
    </div>
    <script type="text/javascript">
      function init() {
        var con = document.getElementById("messageCanvas");
        var ctx = con.getContext("2d");

        ctx.font = "30px Georgia";
        ctx.fillStyle = "#fefefe";
        ctx.fillText("Login to ", 30, 30);

        // Create gradient
        var gradient = ctx.createLinearGradient(0, 0, con.width, 0);
        gradient.addColorStop("0", "black");
        gradient.addColorStop("0.4", "green");
        gradient.addColorStop("1.0", "black");
        // Fill with gradient
        ctx.fillStyle = gradient;
        ctx.shadowOffsetX = 2;
        ctx.shadowOffsetY = 1;
        ctx.shadowColor = "rgba(0,0,0,0.4)";
        ctx.fillText("MEAN Inc.", 150, 30);
      }
      function togglePassword() {
        var passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      }

      function login() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        var emailregex = /\S+@\S+\.\S+/;
        var passregex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/;

        if (!emailregex.test(email)) {
          document.getElementById("email_error").innerHTML =
            "Invalid username format <br> Ex. abc@xyz.com";
          event.preventDefault();
        } else {
          document.getElementById("email_error").innerHTML = "";
        }

        if (!passregex.test(password)) {
          document.getElementById("password_error").innerHTML =
            "Invalid Password format <br> Please include at least 1 upper case character, 1 lower case character and 1 number";
          event.preventDefault();
        } else {
          document.getElementById("password_error").innerHTML = "";
        }

        if (emailregex.test(email) && passregex.test(password)) {
          var form = document.getElementById("login_form").submit();
        }
      }
    </script>
  </body>
</html>
