<html>
  <head>
    <link rel="stylesheet" href="index.css" />
    <link rel='icon' href='favicon.png' type='image/x-icon'/ >
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form" action="/login" method="post">
          <input type="email" name="email" placeholder="username" required />
          <input
            type="password"
            name="password"
            placeholder="password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
            required
          />
          <button type="submit">login</button>
          <div class="error"><%= message %></div>
          <p class="message">
            Not registered? <a href="/register">Create an account</a>
          </p>
        </form>
      </div>
    </div>
    <script type="text/javascript">
      function check() {
        alert("Hi!");
      }
    </script>
  </body>
</html>
