<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <script type="text/javascript">
      function clearForm() {
        document.getElementById("registerForm").reset();
      }

      function register() {
        name = document.getElementById("name").value;
        password = document.getElementById("password").value;
        email = document.getElementById("email").value;

        errors = "";

        if (name == "") {
          errors += "Missing name.\n";
        }

        passwordRE = "(?=.\d)(?=.[a-z])(?=.[A-Z](?=.[@#$%!]).{8,}";
        if (!password.match(passwordRE)) {
          errors += "Invalid password.\n";
        }

        emailRE = /^.+@.+\..{2,4}$/;
        if (!email.match(emailRE)) {
          errors += "Invalid email address. " + "Should be xxxxx@xxxxx.xxx\n";
        }

        if (errors != "") {
          alert(errors);
        }
      }
    </script>
  </head>
  <body>
    <div class="register-page">
      <div class="form">
        <form id="registerForm" class="register-form">
          <input type="text" id="name" placeholder="name" required />
          <input
            type="password"
            id="password"
            placeholder="password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
            required
          />
          <input type="email" id="email" placeholder="email address" required />
          <button onclick="register()">Register</button>
          <button onclick="clearForm()">Clear</button>
          <p class="message">Already registered? <a href="/">Login here</a></p>
        </form>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
