<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel='icon' href='favicon.png' type='image/x-icon'/>
    <script type="text/javascript">
      function clearForm() {
        document.getElementById("registerForm").reset();
      }
    </script>
  </head>
  <body>
  <div class="logo"><img src="favicon.png" width="120" height="100";/></div>
    <div class="register-page">
    <h2 class="title-center">Register to MEAN Inc.</h2>
      <div class="form">
        <form
          id="registerForm"
          class="register-form"
          action="/register"
          method="post"
        >
          <input
            type="text"
            id="name"
            name="name"
            placeholder="name"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
            oninvalid="setCustomValidity('Please include at least 1 uppercase character, 1 lowercase character, and 1 number.')"
            required
          />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="email address"
            required
          />
          <div>
            <input type="radio" name="role"  id="user" checked="checked" style="margin:20px; margin-right:0px;padding:0px; width:20px;"/>
            <label for="user" style="font-size: 15px;">User </label>
            <input type="radio" name="role" id="business" style="margin:20px; margin-right:0px;padding:0px; width:20px"/>
            <label for="business" style="font-size: 15px;">Business </label>
          </div>

          <button type="submit">Register</button>
          <button onclick="clearForm()">Clear</button>
          <div class="error"><%= message %></div>
          <p class="message">Already registered? <a href="/">Login here</a></p>
        </form>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
