<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="icon" href="favicon.png" type="image/x-icon" />
    <script type="text/javascript">
      function init() {
        var con = document.getElementById("messageCanvas");
        var ctx = con.getContext("2d");
        ctx.font = "30px Georgia";
        ctx.fillStyle = "#fefefe";
        ctx.fillText("Register to ", 30, 30);
        //Create gradient
        var gradient = ctx.createLinearGradient(0, 0, con.width, 0);
        gradient.addColorStop("0", "black");
        gradient.addColorStop("0.4", "green");
        gradient.addColorStop("1.0", "black");
        // Fill with gradient
        ctx.fillStyle = gradient;
        ctx.shadowOffsetX = 2;
        ctx.shadowOffsetY = 1;
        ctx.shadowColor = "rgba(0,0,0,0.4)";
        ctx.fillText("MEAN Inc.", 180, 30);
      }
      function clearForm() {
        document.getElementById("registerForm").reset();
      }
      function togglePassword() {
        var passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      }
    </script>
  </head>
  <body onload="init()">
    <div class="logo"><img src="favicon.png" width="120" height="100" ; /></div>
    <div class="register-page">
      <!-- <h2 class="title-center">Register to MEAN Inc.</h2> -->
      <canvas id="messageCanvas" width="360" height="50"
        >Your browser does not support the HTML5 canvas tag.</canvas
      >
      <div class="form">
        <form
          id="registerForm"
          class="register-form"
          action="/register"
          method="post"
        >
          <input
            type="text"
            id="name"
            name="name"
            placeholder="name"
            required
          />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="email address"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
            oninvalid="setCustomValidity('Please include at least 1 uppercase character, 1 lowercase character, and 1 number.')"
            required
          />
          <input
            type="checkbox"
            onclick="togglePassword()"
            style="margin-top:10px;margin-bottom:20px; margin-right:0px;margin-left:-135px;padding:0px; width:20px"
          />Show Password
          <div>
            <input
              type="radio"
              name="role"
              id="user"
              value="user"
              checked="checked"
              style="margin:20px; margin-right:0px;padding:0px; width:20px;"
            />
            <label for="user" style="font-size: 15px;">User </label>
            <input
              type="radio"
              name="role"
              id="business"
              value="business"
              style="margin:20px; margin-right:0px;padding:0px; width:20px"
            />
            <label for="business" style="font-size: 15px;">Business </label>
          </div>

          <button type="submit">Register</button>
          <button onclick="clearForm()">Clear</button>
          <div class="error"><%= message %></div>
          <p class="message">Already registered? <a href="/">Login here</a></p>
        </form>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
