<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete your profile</title>
    <link rel="stylesheet" type="text/css" href="/dashboard/user_profile.css" />
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type= "text/javascript" src = "/countries.js"></script>
    <script type= "text/javascript" src = "/user.js"></script>
    <link rel="stylesheet" href="/dashboard/business-dashboard.css">
    
    <link rel='icon' href='/favicon.png' type='image/x-icon'/>
  </head>
  <body>
  
      <nav class="menu" tabindex="0" id="navbar" style="width:100ox">
          <div class="smartphone-menu-trigger"></div>
          <header class="avatar">
            <img src="/ollie_ward2.jpg" />
          </header>
          <ul id="selectable">
            <li tabindex="0" class="ui-widget-content selectable-li"><a class="a-selectable" href="/admin-dashboard">Manage Users</a></li>
            <li tabindex="1" class="ui-widget-content selectable-li"><a class="a-selectable" href="/user">Add Users</a></li>
            <li tabindex="2" class="ui-widget-content selectable-li">
              <a class="a-selectable" href="/logout">Logout</a>
            </li>
            <li tabindex="3" class="ui-widget-content selectable-li icon-settings ">
              <span class="selectable-span">
                Theme <input type="color" value="#ff0000" id="colorWell" />
              </span>
            </li>
            </ul>
        </nav>
  
  <form id="myform">
    
    <h1><%= profile.name %>'s Profile</h1>
    
    <fieldset> 
      <legend><span class="number">1</span>Basic info</legend>
      <label for="name">Name:</label>
      <input name="name" type="text" value="<%= profile.name %>"/>
      <label for="email">Email:</label>
      <input name="email" type="email" value="<%= profile.email %>">
      
      <!-- <label>Gender:</label>
      <input type="radio" id="gender" value="Male" name="gender" required><label for="gender" class="light">Male</label>
      <input type="radio" id="gender" value="Female" name="gender"><label for="gender" class="light">Female</label>
      <input type="radio" id="gender" value="Other" name="gender"><label for="gender" class="light">Other</label> -->
  
      <br><br><label for="tele">Phone No:</label>
      <input type="tel" id="tele" name="tele" placeholder="1234567890"
      pattern= '^[0-9]{3}[0-9]{3}[0-9]{4}$' required title="Must be of the format 1234567890" 
      value="<%= profile.tele %>"/>
      <div class="input-validation"></div>
    </fieldset>
    
    <fieldset>
      <legend><span class="number">2</span>Address</legend>
      <label for="add1">Address Line 1:</label>
      <input type="text" id="add1" name="add1"  value="<%= profile.add1 %>" required>
  
      <label for="add2">Address Line 2(optional):</label>
      <input type="text" id="add2" name="add2"  value="<%= profile.add2 %>" title="Apt #">
        
      <label for="city">City:</label>
      <input type="text" id="city" name="city"  value="<%= profile.city %>" required>
      </select>
  
      <label for="country">Country:</label>
      <select name="country" id="country"  value="<%= profile.country %>" required>
      </select>
      
      
      <label for="state">State:</label>
      <select  name="state" id="state"  value="<%= profile.state %>" required>
      </select>
          
      <script language="javascript">
          populateCountriesUser("country", "state", "<%= profile.country %>", "<%= profile.state %>");
      </script>

      <label for="postalCode">Postal Code:</label>
      <input type="text" id="postalCode" name="postalCode" 
      pattern="^[0-9]{5}(?:-[0-9]{4})?$" required title="Postal code should conatin only numbers of length 5" 
      value="<%= profile.postalCode %>">
      <div class="input-validation-postal"></div>
    </fieldset>
    
   
    <button id="update" type="submit" onclick="updateUser('<%= profile.id %>')">
      Update</button>
    <button id="delete" type="submit" onclick="deleteUser('<%= profile.id %>')">
      Delete</button>
  </form>
  
  
  </body>
  </html>