<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" type="text/css" href="/dashboard/user_profile.css" />
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <script type= "text/javascript" src = "countries.js"></script>
  <link rel="stylesheet" href="css/profile.css">
  <link rel='icon' href='favicon.png' type='image/x-icon'/>
</head>
<body>

  <nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
      <h2 class="user-name">John Doe</h2>
    </header>
    <ul>
      <li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
      <li tabindex="0" class="icon-customers"><span>Customers</span></li>
      <li tabindex="0" class="icon-users"><span>Users</span></li>
      <li tabindex="0" class="icon-settings"><span>Settings</span></li>
    </ul>
  </nav>

    <div class="address-card">
            <p class="address-item">Name: </p>
            <div class="address-item">
            <p class="">Address: </p>
            <p class="">Country: </p>
            <p class="">State: </p>
            <p class="">City: </p>
            <p class="">Pin: </p>
            </div>
    </div>
    <div class="business-card">
            <p class="business-item">Date of birth: </p>
            <p class="business-item">Gender: </p>
            <p class="business-item">Phone: </p>
    </div>

</body>
</html>