<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" type="text/css" href="/dashboard/user_profile.css" />
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <script type= "text/javascript" src = "countries.js"></script>
  <link rel="stylesheet" href="css/profile.css">
  <link rel='icon' href='favicon.png' type='image/x-icon'/>
</head>
<body>

  <nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      <img src="ollie_ward2.jpg" />
      <h2 class="user-name"><%= profile.name %></h2>
    </header>
    <ul>
      <li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
      <li tabindex="0" class="icon-customers"><span>Customers</span></li>
      <li tabindex="0" class="icon-users"><span>Users</span></li>
      <li tabindex="0" class="icon-settings"><span>Settings</span></li>
      <li tabindex="0" class="icon-settings"><a href="/logout">Logout</a></li>
    </ul>
  </nav>

    <div class="address-card">
            <p class="address-item">Name: <%= profile.name %></p>
            <div class="address-item">
            <p class="">Address: <%= profile.add1  %></p>
            <p class="">Country: <%= profile.country %></p>
            <p class="">State: <%= profile.state %></p>
            <p class="">City: <%= profile.city %></p>
            <p class="">Pin: <%= profile.postalCode %></p>  
            </div>
    </div>
    <div class="business-card">
            <p class="business-item">Date of birth: <%= profile.dob %></p>
            <p class="business-item">Gender: <%= profile.gender %></p>
            <p class="business-item">Phone: <%= profile.tele %></p>
    </div>

</body>
</html>