html
  head
    link(rel='stylesheet', href='../css/index.css')
  body
    .login-page
      .form
        form.login-form
          input(type='email', placeholder='username', required='')
          input(type='password', placeholder='password', pattern='(?=.\d)(?=.[a-z])(?=.[A-Z](?=.[@#$%!]).{8,}', required='')
          button(onclick='onLogin()') login
          p.message
            | Not registered? 
            a(onclick='check()') Create an account
    script(type='text/javascript').
      function check(){
      alert("Hi!")
      }
