<html>
  <head>
    <link rel="stylesheet" type="text/css" href="profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <nav class="navbar">
    <div class="nav-item">
    <a href="" >Home</a> 
    <a href="">Profile</a> 
    <a href="">Dashboard</a> 
    <a href="">Username</a> 
    </div>
    </nav>
    <!--<div class="sidenav">
        <div class="card">
        <div class="image-div">
            <img src="profile.jpg" class="profile" alt="John" height="225" width="225">
        </div>
        <h1>John Doe</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Harvard University</p>
        <p><button>Contact</button></p>
        </div>
    </div>-->

    <nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
    <h2>John Doe</h2>
  </header>
	<ul>
    <li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
    <li tabindex="0" class="icon-customers"><span>Customers</span></li>
    <li tabindex="0" class="icon-users"><span>Users</span></li>
    <li tabindex="0" class="icon-settings"><span>Settings</span></li>
  </ul>
</nav>




  </body>
</html>
